.app {
  width: 1400px;
  margin: auto;

}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1300px;
  grid-template-areas: 
  "n c s";

  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr 2fr;  
}

.app-wrapper-content {
  grid-area: c;
}

