.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.item {
  margin: 10px;
}
.message {
  margin: 10px;
}

.dialogItems active {
  color: gold;
}

.message {
  display: flex;
}
.removeMessage {
  align-self: center;
}
.removeMessage img {
  border-radius: 5px;
  align-self: center;
  margin: 2px 5px 2px 10px;
  width: 15px;
  height: 15px;
}

.removeMessage img:active {
  border: 1px black solid;
  box-shadow: 0 0 20px black;
}
